*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', serif;
}
html{
   scroll-behavior: smooth;
}
body p{
    font-size: 1.1rem;
}
#main-wrapper{
    background: linear-gradient(rgb(32, 118, 168,.2),rgb(32, 118, 168,.9)),url("images/Chrysolite.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#banner{
    background-color: #fff;
    display: flex;
    height: 60px;
}
#logo{
    flex-basis: 30%;
    height: 60px;
    padding-left: 10px;
}
#logo img{
    width: 80%;
    height: 100%;
}
#moto{
    flex-basis: 70%;
}
#moto h1{
    color: rgb(32, 118, 168);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}
.fixed-display{
    background-color: rgb(32, 118, 168,.7);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 920;
}
#header{
    background-color: rgb(32, 118, 168,.5);
    height: 60px;
    text-align: center;
}
#header ul li{
    display: inline-block;
    width: 100px;
    height: 60px;
    line-height: 60px;
    list-style: none;
    transition: .5s ease;
}
#header ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    display: block;
}
#header ul li:hover{
    /* background-color: rgb(32, 118, 168,.9); */
    background-color: rgb(247, 191, 5, .9);
}
#menu-btn{
    display: none;
    position: fixed;
    z-index: 999;
    top: 75px;
    cursor: pointer;
    right: 20px;
    background-color: rgb(32, 117, 167,.7);
}
#menu-btn img{
    width: 90%;
    margin: 5%;
}
#menu-btn i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
#main-text{
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#main-text h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
    color: rgb(255, 254, 253);
}
#main-text p{
    font-size: 1.3rem;
    margin-bottom: 30px;
    line-height: 26px;
    color: rgb(241, 239, 233);
}
.page-btn a{
    background-color: none;
    text-transform: capitalize;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    border: 2px solid rgb(247, 191, 5);
    position: relative;
    z-index: 900;
    letter-spacing: 3px;
    font-weight: 700;
}
.page-btn a span{
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(247, 191, 5);
    transition: .5s ease;
    z-index: -1;
}
.page-btn a:hover span{
    width: 100%;
}

/* FEATURES SECTION */
/* ABOUT SECTION */
#wrapper{
   background: linear-gradient(rgb(32, 118, 168,.1),rgb(32, 118, 168,.9)),url("images/about.jpg");
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#wrapper-text{
   text-align: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   width: 80%;
   left: 10%;
   padding-top: 30px;
   color: #fff;
}
#wrapper-text p{
    color: gold;
    margin-top: 10px;
    font-style: italic;
}
#wrapper-text p span{
    color: #fff;
}
.col-1 h3{
    text-align: center;
    text-transform: capitalize;
    color: rgb(32, 118, 168,.9);
    margin-bottom: 10px;
}
.col-1 ul li{
   list-style: none;
   margin-bottom: 10px;
   line-height: 20px;
}
.col-1 ul li .fa{
    margin-right: 5px;
    color: rgb(238, 183, 5);
}
.features-section{
    padding-top: 20px;
}
.section-title{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.section-title h1{
    color: rgb(32, 118, 168);
    margin-bottom: 10px;
}
.section-title h2{
    color: rgb(247, 191, 5);
    font-size: 1.3rem;
    width: 80%;
    margin: auto;
}
.section-title h2 i{
    color: rgb(32, 117, 167);
    margin-right: 5px;
}
.section-title h2 span{
    color: rgb(32, 117, 167);
}
.section-text{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}
.section-text p span{
    color: rgb(32, 117, 167);
    font-size: 1.1rem;
    text-transform: capitalize;
}
.col-1 .page-btn{
    width: 50%;
    margin: 30px auto;
    /* background-color: red; */
    text-align: center;
}
.col-1 .page-btn a{
    color: rgb(32, 118, 168);
}
.col-1 .page-btn a:hover{
    color: #fff;
}
.col-1{
    flex-basis: 48%;
}
.col-2{
    flex-basis: 100%;
}
.col-1 img{
    width: 100%;
}
/* MID SECTION */
#mid-note{
    background: linear-gradient(rgb(32, 118, 168,.6),rgb(32, 118, 168,.9)),url("images/mid.jpg");
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 40px 0 0;
}
#mid-note p{
    color: #fff;
    text-align: center;
}
#mid-note .fa{
    color: rgb(238, 183, 5);
    margin-right: 5px;
    font-size: 1.2rem;
}
#mid-note .col-1, #lower-note .col-1{
    width: 80%;
    margin-left: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#mid-note li, #lower-note li{
    color: #fff;
}
#mid-note h3, #lower-note h3{
    color: rgb(255, 254, 253);
    position: relative;
}

#list-color li{
    color: black;
}
#lower-note{
    background: linear-gradient(rgb(32, 118, 168,.6),rgb(32, 118, 168,.9)),url("images/values.jpg");
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20px;
}
/* SERVICE SECTION */
.section-text h2{
    text-align: center;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: rgb(32, 117, 167);
}
#service-text p{
    text-transform: uppercase;
    margin-bottom: 10px;
}
#service-text p a{
    transition: .5s;
}
#service-text p .fa-star{
    color: rgb(247, 191, 5);
    margin-right: 10px;
}
#service-text p a:hover{
    color: rgb(201, 154, 2);
    text-decoration: underline;
}
/* CALL TO ACTION SECTION */
.call-action{
    width: 80%;
    margin:20px auto;
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgb(201, 154, 2, .3);
    padding: 10px;
    transition: .5s;
    cursor: pointer;
    border-radius: 5px;
}
.call-action:hover{
    transform: translateY(-7px);
}
.call-action h4{
    color: rgb(247, 82, 5);
    margin-bottom: 10px;
}
.call-action p{
    margin-bottom: 10px;
}
.call-action p span{
    color: rgb(32, 117, 167);
}
.call-action p .fa{
    color: rgb(32, 117, 167);
    margin-right: 5px;
}
/* TESTIMONIALS */
.testimonial h4{
    margin-bottom: 10px;
    color: rgb(32, 117, 167);
    text-align: left;
}
.testimonial p{
    font-size: .9rem;
}
#clients-text{
    flex-basis: 100%;
    text-transform: capitalize;
    color: rgb(247, 191, 5);
    text-align: center;
    margin-top: 10px;
}
#clients-text i{
    margin-right: 5px;
    color: rgb(32, 117, 167);
}
#clients-text p{
    margin-top: 5px;
}
#clients-text p span{
   margin-right: 10px;
}
#review-icons{
    margin-top: 10px;
}
.review{
    text-align: center;
    box-shadow: 0px 10px 20px 0px rgb(32, 117, 167, .3);
    padding: 20px;
    width: 60%;
    margin:20px auto;
    border-radius: 10px;
}
.image-container{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: rgb(89, 181, 235);
    margin:0px auto 20px;
}
#person-img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    top: 5px;
    right: 10px;
}
.quote{
   color: #fff;
   background-color: rgb(89, 181, 235);
   width: 30px;
   height: 30px;
   line-height: 30px;
   font-size: 15px;
   border-radius: 50%;
   position: relative;
   top: -120px;
   left: -10px;
   /* z-index: 999; */
}

#author{
    text-transform: capitalize;
    margin-bottom: 5px;
}
#job{
    text-transform:uppercase;
    color: rgb(32, 117, 167);
}
#info{
    margin-top: 10px;
    opacity: .7;
    padding: 0 10px;
    text-align: justify;
    font-size: .9rem;
}
.button-container{
   margin-top: 20px;
}
.prev-btn, .next-btn{
    display: inline-block;
    color: rgb(32, 117, 167);
    margin-right: 10px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 1px solid rgb(32, 117, 167);
    transition: .5s;
}
.button-container .fa{
    line-height: 40px; 
    text-align: center;
}
.prev-btn:hover, .next-btn:hover{
    color: rgb(238, 183, 5);
}
/* FOOTER DETAILS */
footer{
    background: linear-gradient(rgb(2, 52, 82),rgb(32, 117, 167));
    padding: 20px 0 0;
}
.footer-head{
    text-align: center;
    text-transform: capitalize;
    color: #fff;
}
.footer-head h3{
    color: rgb(247, 191, 5);
}
.footer-details{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 20px auto;
}
.footer-col{
    flex-basis: 50%;
    margin-top: 20px;
}
.footer-col p{
    color: #fff;
    line-height: 27px;
    font-size: 1rem;
}
.footer-col h4{
    text-transform: capitalize;
    margin-bottom: 10px;
    color: rgb(247, 191, 5);
    position: relative;
}
.email{
    letter-spacing: 2px;
}
.footer-left{
    text-transform: capitalize;
}
.footer-left i, .footer-right i{
    margin:0 5px;
    color: rgb(247, 191, 5);
}
.footer-right{
    text-align: right;
    margin-bottom: 20px;
}
.footer-icons, .footer-copy{
    text-align: center;
    margin-top: 10px;
}
.footer-icons i{
    position: relative;
    color: #fff;
    border: 2px solid rgb(247, 191, 5);
    margin-right: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    transition: .5s ease;
}
.footer-icons i:hover{
    transform: translateY(-5px);
    color: rgb(247, 191, 5);
}
.footer-copy{
    margin-top: 20px;
    padding: 15px;
    color: rgb(4, 18, 26);
    background-color: rgb(247, 191, 5);
}
.nav-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 2px solid rgb(32, 117, 167);
    border-radius: 50%;
    background-color: rgb(255, 255, 255, .5);
    display: none;
    animation: roll-up 1s infinite;
    animation-direction: alternate-reverse;
}
@keyframes roll-up{
    from{
        background-color: rgba(43, 12, 179, 0.7);
      }
      to{
        background-color: rgba(197, 5, 5, 0.1);
      }
}
.nav-visibility{
    display: block;
}
.nav-btn a{
    text-decoration: none;
    color: rgb(247, 191, 5);
}
.nav-btn i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
#stroke{
    color: rgb(247, 191, 5);
}
/* ABOUT PAGE STYLING */
#wrapper #header{
    background-color: rgb(32, 117, 167,.7);
}
#next-section{
    width: 80%;
    margin:30px auto;
}
#about-content{
    padding-top: 20px;
}
#next-section h3{
    text-align: center;
    color: rgb(32, 117, 167);
}
#next-section h3 i{
    margin-right: 5px;
    color: rgb(247, 191, 5);
}
#about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#content-1{
    flex-basis: 45%;
    margin-top: 10px;
}
#bold-color{
    color: rgb(32, 117, 167);
}

/* SERVICE PAGE STYLING */
#service-text a{
    text-decoration: none;
    color: rgb(32, 117, 167);
}
.service-contents{
    width: 80%;
    margin: 20px auto;
}
.service-contents h3{
    color: rgb(32, 117, 167);
    text-transform: uppercase;
}
.service-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.service-col{
    flex-basis: 45%;
}
.service-col h4{
    margin: 0px auto 20px;
    color: rgb(238, 183, 5);
}
.next-page{
    text-align: center;
    margin-top: 35px;
}
#service-text .next-page a{
    text-transform: capitalize;
    border: 1px solid rgb(247, 191, 5);
    padding: 5px 10px;
    transition: .5s;
}
#service-text .next-page a:hover{
    color: rgb(224, 170, 8);
    border: 1px solid rgb(32, 117, 167);
}
.service-col ul li{
    list-style:decimal;
    margin-left: 30px;
}
@media screen and (max-width:900px) {
    #info{
        text-align: center;
    }
    .review{
        width: 100%;
    }
    #mid-note{
        height: 60vh;
    }
    #mid-note p{
        margin-top: 20px;
    }
    #mid-note li, #lower-note li{
        font-size: .9rem;
    }
    .page-btn a{
        font-size: .8rem;
        padding: 10px 15px;
        display: inline-block;
    }
    #main-text h1{
        font-size: 1.5rem;
    }
    .footer-col p{
        font-size: .8rem;
    }
    .email{
        letter-spacing: 2px;
    }
    #wrapper{
        margin-bottom: 30px;
     }
    .col-1{
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .footer-col{
        flex-basis: 100%;
    }
    .footer-col h4 span{
        bottom: -4px;
        right: 0;
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        background-color: rgb(247, 191, 5);
    }
}
@media screen and (max-width:760px) {
    .service-col{
        flex-basis: 100%;
    }
    body p{
        font-size: 1rem;
    }
    #content-1{
        flex-basis: 100%;
    }
    .test{
        flex-basis: 100%;
    }
    .section-title h2{
        font-size: 1rem;
    }
    #service-text p{
        font-size: .7rem;
    }
    #banner{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        z-index: 999;
    }
    #menu-btn{
        display: block;
    }
    #logo{
        padding-top: 5px;
    }
    #logo img{
        width: 90%;
        height: 40px;
        margin-top: 5px;
    }
    #moto h1{
        text-align: left;
        padding-left: 5px;
        font-size: 12px;
        margin-top: 24px;
    }
    #header{
        position: fixed;
        z-index: 990;
        width: 256px;
        top: 0;
        right: 0;
        padding-top: 120px;
        background-color: rgb(32, 118, 168,.8);
        height: 100vh;
        transition: .5s ease-in-out;
    }

    #header ul li{
        display: block;
        width: 100%;
        height: 60px;
        line-height: 60px;
        list-style: none;
    }
    #header ul li a{
        text-decoration: none;
        text-transform: capitalize;
        color: #fff;
        display: block;
    }
    #main-text{
        width: 80%;
    }
    .col-1{
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .col-1 .testimonial{
        margin-bottom: 0px;
    }
}
@media screen and (max-width:390px) {
    #moto h1{
        font-size: 10px;
    }   
}
@media screen and (min-height:1024px) {
    #main-wrapper{
        height: 70vh;
    } 
    #wrapper{
        height: 30vh;
    }   
    #mid-note, #lower-note{
        height: 30vh;
    }
    .review{
        width: 75%;
    }
    #mid-note p, #lower-note p{
        margin-top: 40px;
    }
    #mid-note h3, #lower-note h3{
        margin-bottom: 40px;
    }

}
